footer{
	margin-top: 113px;
	border-top: 1px solid $colorMain_9;
	padding-top: 80px;
	.wrapper{
		@include styleGrid1;
	}
	.container-send{
		position: fixed;
		z-index: 20;
		left: 50%;
		top: 110px;
		transform: translateX(-50%) translateY(-100%);
		height: 60px;
		padding: 0px 30px 0px 30px;
		border-radius: 8px;
		background-color: $colorMain_2;
		display: flex;
		flex-flow: row wrap;

		align-items: center;
		opacity: 0;
		visibility: hidden;
		transition: all 500ms cubic-bezier(0.405, 0.000, 0.000, 1.000);
		img{
			width: 23px;
			margin-right: 13px;
		}
		.text{
			flex: 1;
			@include styleParagraphMedium;
			color: #FFF;
		}

		&.style-active{
			visibility: visible;
			opacity: 1;
			transform: translateX(-50%);
		}
	}
	.content{
		.wrapper{
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
		}
		.container-logo{
			width: 206px;
			.logo{
				display: block;
				text-decoration: none;
				img{
					width: 135px;
				}
			}
			p{
				margin-top: 10px;
				@include styleParagraphSmall;
			}
			.container-rs{
				margin-top: 35px;
				display: flex;
				flex-flow: row wrap;

				a{
					height: 20px;
					display: block;
					text-decoration: none;
					transition: all 0.25s ease;
					cursor: pointer;
					&:not(:last-child){
						margin-right: 30px;
					}
					img{
						height: 100%;
					}
					&:hover{
						opacity: 0.8;
					}
				}
			}
		}
		.container-newsletter{
			margin: 0px 25px 0px 25px;
			width: 320px;
			h2{
				@include styleParagraphSmall;
				color: $colorMain_5;
			}
			.input{
				margin-top: 13px;
				width: 100%;
				height: 50px;
				position: relative;
				.head{
					position: absolute;
					top: calc(100% + 5px);
					left: 15px;
					.error{
						display: none;
						@include styleParagraphTiny;
						color: $colorMain_1;
					}
				}
				input{
					width: 100%;
					height: 100%;
					border-radius: 50px;
					border: 1px solid $colorMain_9;
					padding: 0px 24px 0px 24px;
					@include styleParagraphMedium;
					outline: none;
					-webkit-appearance: none;
				    -moz-appearance: none;
				    appearance: none;
					&:focus{
						border-color: $colorMain_5;
					}
				}
				.send{
					border: none;
					background: transparent;
					cursor: pointer;
					height: 17px;
					width: 17px;
					position: absolute;
					top: 50%;
					right: 27px;
					transform: translateY(-50%);
					img{
						width: 100%;
					}
				}
				&.style-error{
					.head{
						.error{
							display: block;
						}
					}
					input,
					textarea {
						border-color: $colorMain_1;
					}
				}
			}
		}
		.container-link{
			h2{
				@include styleParagraphSmall;
				color: $colorMain_5;
			}
			ul{
				margin-top: 11px;
				list-style: none;
				width: 200px;
				display: flex;
				flex-flow: row wrap;
				li{
					width: 50%;
					a{
						text-decoration: none;
						@include styleParagraphSmall;
					}
					&:hover{
						opacity: 0.8;
					}
				}
			}
		}
		.container-sponsors{
			h2{
				@include styleParagraphSmall;
				color: $colorMain_5;
			}
			.container-img{
				margin-top: 20px;
				display: flex;
				flex-flow: row wrap;
				height: 50px;
				a{
					text-decoration: none;
					display: block;
					height: 100%;
					img{	
						display: block;
						height: 100%;
						
					}
					&:not(:last-child){
						margin-right: 40px;
					}
				}
				
			}
		}
	}
	.foot{
		margin-top: 65px;
		background-color: $colorMain_2;
		padding: 18px 0px 18px 0px;
		.wrapper{
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			justify-content: space-between;
		}

		.container-lg{
			position: relative;
			display: flex;
			flex-flow: row wrap;
			align-items: center;

			.lg{
				display: flex;
				flex-flow: row wrap;
				align-items: center;
				.img-lg{
					width: 16px;
				}
				.text{
					cursor: pointer;
					margin: 0px 15px 0px 15px;
					@include styleParagraphSmall;
					color: #FFF;
				}
				.arrow{
					width: 8px;
				}
			}
			.dropdown{
				display: none;
				position: absolute;
				bottom: calc(100% + 10px);
				left: 0px;
				width: 100%;
				background-color: #FFF;
				padding: 10px;
				border-radius: 10px;
				box-shadow: 0px 0px 22px 4px rgba(91,91,91,0.53);
				.el{
					cursor: pointer;
					text-decoration: none;
					@include styleParagraphSmall;
					&:not(:last-child){
						margin-bottom: 10px;
					}
					&:hover{
						opacity: 0.8;
					}
				}

				&.style-show{
					display: block;
				}
			}
		}

		.cpr{
			@include styleParagraphTiny;
			color: #FFF;
		}

		.links{
			a{
				text-decoration: none;
				@include styleParagraphTiny;
				color: #FFF;
				&:not(:last-child){
					margin-right: 12px;
				}
			}
		}
		.pld{
			
		}
	}
}

@media screen and (max-width: $breakPoint_mobile){
	footer{
		margin-top: 45px;
		padding-top: 45px;
		.content{
			.container-logo{
				width: 100%;
			}
			.container-newsletter{
				width: 100%;
				margin: 0px;
				margin-top: 30px;
			}
			.container-link{
				width: 100%;
				margin-top: 30px;
				ul{
					width: 100%;
					li{
						width: calc(100% / 3);
					}
				}
			}
			.container-sponsors{
				width: 100%;
				margin-top: 30px;
				.container-img{
					justify-content: space-between;
					a{
						&:not(:last-child){
							margin-right: 0px;
						}
					}
				}
			}

		}
		.foot{
			.container-lg{

			}
			.cpr{
				order: 3;
				width: 100%;
				text-align: center;
				margin-top: 20px;
			}
			.links{
				text-align: right;
				flex: 1;
			}
			
		}
	}
}