@import 'common.scss';


/*===================================
=            PAGE LANDING           =
===================================*/


.section-cover{
	padding-top: 230px;
	.container-send{
		position: fixed;
		z-index: 20;
		left: 50%;
		top: 110px;
		transform: translateX(-50%) translateY(-70%);
		height: 60px;
		padding: 0px 30px 0px 30px;
		border-radius: 8px;
		background-color: $colorMain_2;
		display: flex;
		flex-flow: row wrap;

		align-items: center;
		opacity: 0;
		visibility: hidden;
		transition: all 500ms cubic-bezier(0.405, 0.000, 0.000, 1.000);
		img{
			width: 23px;
			margin-right: 13px;
		}
		.text{
			flex: 1;
			@include styleParagraphMedium;
			color: #FFF;
		}

		&.style-active{
			visibility: visible;
			opacity: 1;
			transform: translateX(-50%);
		}
	}
	.wrapper{
		@include styleGrid1;
		position: relative;
	}
	.container-illu{
		position: absolute;
		right: 450px;
		width: 950px;
		top: -60px;
		img{
			width: 100%;
		}
	}
	.container-title{
		margin-left: auto;
		width: 408px;
		h1{
			span{
				&:nth-child(1){
					@include styleH1;
				}
				&:nth-child(2){
					z-index: 1;
					@include styleHx1;
					padding-left: 2px;
				}
			}
		}
		.container-input{
			margin-top: 40px;
			
			.input{
				border: 1px solid $colorMain_9;
				display: flex;
				flex-flow: row wrap;
				justify-content: space-between;
				border-radius: 60px;
				input{
					flex: 1;
					border: none;
					padding-left: 20px;
					@include styleParagraphMedium;
					color: $colorMain_5;
					background-color: transparent;
					outline: none;
					&::placeholder{
						color: $colorMain_7;
					}
				}
				.btn{
					@include styleButton("medium", "1");
					border: none;
				}
			}

			.error{
				margin-top: 4px;
				visibility: hidden;
				opacity: 0;
				@include styleParagraphTiny;
				color: $colorMain_1;
				padding-left: 15px;
				transition: all 0.25s ease;
			}
			&.style-error{
				.error{
					visibility: visible;
					opacity: 1;
				}
				.input {
					border-color: $colorMain_1;
				}
			}
			
		}
	}
}

@media screen and (min-width: $breakPoint_mobile) and (max-width: $breakPoint_tablet) and (orientation: landscape){
	.section-cover{
		.container-illu{
			top: 50%;
			transform: translateY(-50%);
			right: initial;
			left: -120px;
			width: calc(100% - 410px);
		}
	}
}
@media screen and (min-width: $breakPoint_mobile) and (max-width: $breakPoint_tablet) and (orientation: portrait){
	.section-cover{
		padding-top: 185px;
		.container-title{
			width: 100%;
			.container-input{
				.input{
					width: 400px;
					input{
						width: 100px;
					}
				}
			}
		}
		.container-illu{
			margin-top: 35px;
			position: initial;
			width: 100%;
			img{
				width: 100%;
			}
		}
	}
}
@media screen and (max-width: $breakPoint_mobile){
	.section-cover{
		overflow: hidden;
		padding-top: 85px;
		.container-title{
			width: 100%;
			.container-input{
				.input{
					input{
						width: 100px;
					}
				}
			}
		}
		.container-illu{
			margin-top: 35px;
			position: initial;
			width: 100%;
			img{
				transform: translate(-30%);
				width: 130%;
			}
		}
	}
}

.section-solutions{
	margin-top: 158px;
	.wrapper{
		@include styleGrid1;
	}
	.container-title{
		text-align: center;
		h2{
			@include styleH2;
			em{
				@include styleUnderline;
				&:after{
					content:url(../../img/common/underline/underline-1.svg);
				}
			}
		}
		p{
			margin-top: 6px;
			@include styleParagraphBig;
		}
	}
	.container-el{
		margin-top: 92px;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		.el{
			width: 345px;
			.illu{
				height: 280px;
				img{
					height: 100%;
				}
			}
			h3{
				@include styleH4;
			}
			p{
				margin-top: 16px;
				@include styleParagraphBig;
			}
		}
	}
	.container-btn{
		margin-top: 98px;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		.btn{
			@include styleButton("medium", "2");
		}
	}
}
@media screen and (min-width: $breakPoint_mobile) and (max-width: $breakPoint_tablet){
	.section-solutions{
		.container-el{
			.el{
				width: calc((100% / 2) - 40px);
				margin-bottom: 80px;
			}
		}
		.container-btn{
			margin-top: 10px;
		}
	}
}
@media screen and (max-width: $breakPoint_mobile){
	.section-solutions{
		margin-top: 80px;
		.container-title{
			text-align: left;
			h2{
				em{
					&:after{
						transform: scaleY(3);
					}
				}
			}
		}
		.container-el{
			margin-top: 50px;
			.el{
				width: 100%;
				&:not(:last-child){
					margin-bottom: 75px;
				}
				.illu{
					height: initial;
					width: 100%;
					margin-bottom: 20px;
					img{
						height: initial;
						max-width: 100%;
					}
				}
			}
		}
		.container-btn{
			margin-top: 40px;
		}
	}
}

.section-tarif{
	overflow: hidden;
	margin-top: 110px;
	background-color: $colorMain_2;
	padding: 180px 0px 180px 0px;
	position: relative;
	.wrapper{
		@include styleGrid1;
	}
	.illu{
		position: absolute;
		left: 0px;
		bottom: 0px;
		width: 765px;
		img{
			width: 100%;
		}
	}
	.container-text{
		margin-left: 50%;
		width: 490px;
		h2{
			@include styleH2;
			color: #FFF;
			em{
				@include styleUnderline;
				&:after{
					content:url(../../img/common/underline/underline-2.svg);
				}
			}
		}
		p{
			margin-top: 24px;
			@include styleParagraphBig;
			color: rgba(255, 255, 255, 0.7);
		}
		.btn{
			margin-top: 50px;
			@include styleButton("big", "1");
		}
	}
}
@media screen and (min-width: $breakPoint_mobile) and (max-width: $breakPoint_tablet) and (orientation: portrait){
	.section-tarif{
		.container-text{
			position: relative;
			z-index: 1;
			margin-left: auto;
		}
		.illu{
			left: -40%;
			height: 90%;
			width: initial;
			img{
				width: initial;
				height: 100%;
			}
		}
	}
}
@media screen and (max-width: $breakPoint_mobile){
	.section-tarif{
		padding: 70px 0px 0px 0px;
		margin-top: 80px;
		.container-text{
			width: 100%;
			margin-left: auto;
			.btn{
				margin-top: 23px;
			}
		}
		.illu{
			width: initial;
			margin-left: -25px;
			margin-top: 40px;
			position: initial;
			img{
				width: 100%;
			}
		}
	}
}


.section-fondateurs{
	padding: 90px 0px 90px 0px;
	.wrapper{
		@include styleGrid3;
		display: flex;
		flex-flow: row wrap;
		align-items: center;
	}
	.container-text{
		width: 282px;
		margin-right: 100px;
		h2{
			@include styleH2;
			em{
				@include styleUnderline;
				&:after{
					content:url(../../img/common/underline/underline-1.svg);
				}
			}
		}
		p{
			margin-top: 22px;
			@include styleParagraphBig;
		}
	}
	.container-fondateurs{
		flex: 1;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		.fondateur{
			&:nth-child(1){

			}
			&:nth-child(2){
				margin-top: 130px;
				margin-left: -30px;
				.text{
					text-align: right;
				}
			}
			&:nth-child(3){
				margin-top: -130px;
				margin-left: 60px;
			}
			.pp{
				height: 308px;
				width: 308px;
				position: relative;
				img{
					height: 100%;
					width: 100%;
					border-radius: 200px;
					object-fit: cover;
				}
				.name{
					position: absolute;
					bottom: 24px;
					left: 0px;
					width: 100%;
					text-align: center;
					font-family: $font_3_regular;
					font-size: 28px;
					line-height: 28px;
					color: $colorMain_11;
					z-index: 1;
				}
				&:after{
					content: '';
					position: absolute;
					bottom: 0px;
					left: 0px;
					width: 100%;
					height: 100%;
					border-radius: 200px;
					background: linear-gradient(0deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 60%);
				}
			}
			.text{
				margin-top: 18px;
				text-align: left;
				.name{
					@include styleParagraphMedium;
					font-family: $font_1_bold;
					color: $colorMain_5;
				}
				.job{
					@include styleParagraphSmall;
				}
			}
		}
	}
}
@media screen and (min-width: $breakPoint_mobile) and (max-width: $breakPoint_tablet) and (orientation: landscape){
	.section-fondateurs{
		.container-fondateurs{
			.fondateur{
				.pp{
					width: 230px;
					height: 230px;
				}
			}
		}
	}
}
@media screen and (min-width: $breakPoint_mobile) and (max-width: $breakPoint_tablet) and (orientation: portrait){
	.section-fondateurs{
		.container-text{
			width: 100%;
			margin-right: 0px;
			margin-bottom: 100px;
		}
	}
}
@media screen and (max-width: $breakPoint_mobile){
	.section-fondateurs{
		padding: 80px 0px 60px 0px;
		.container-text{
			width: 100%;
			margin-right: 0px;
		}
		.container-fondateurs{
			margin-top: 26px;
			.fondateur{
				width: 100%;
				.pp{
					width: 160px;
					height: 160px;
					.name{
						font-size: 14px;
						line-height: 14px;
					}
				}
				&:nth-child(2){
					margin-top: -40px;
					margin-left: auto;
					margin-right: 35px;
					.pp{
						margin-left: auto;
					}
				}
				&:nth-child(3){
					margin-top: -40px;
					margin-left: 0px;
				}
			}
		}
	}
}

.section-mission{
	.wrapper{
		border-top: 1px solid $colorMain_6;
		padding-top: 83px;
		padding-bottom: 83px;
		@include styleGrid4;
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: space-between;
	}
	.container-text{
		h2{
			@include styleH3;
			em{
				@include styleUnderline;
				&:after{
					content:url(../../img/common/underline/underline-3.svg);
				}
			}
		}
		p{
			margin-top: 5px;
			@include styleParagraphBig;
		}
	}
	.btn{
		@include styleButton("big", "2");
	}
}
@media screen and (max-width: $breakPoint_mobile){
	.section-mission{
		.wrapper{
			position: relative;
			padding-top: 40px;
			padding-bottom: 40px;
			border-top: none;
			&:after{
				content:'';
				position: absolute;
				top: 0px;
				left: 50%;
				width: calc(100% - 50px);
				height: 1px;
				transform: translateX(-50%);
				background-color: $colorMain_9;
			}
		}
		.container-text{
			width: 100%;
		}
		.btn{
			margin-top: 17px;
		}
	}
}

/*=======================================
=            END PAGE LANDING           =
=======================================*/