@import 'common.scss';


/*================================
=            PAGE BLOG           =
================================*/


.section-blog{
	padding-top: 150px;
	&:before{
		content:'';
		width: 100%;
		height: 420px;
		position: absolute;
		top: 0px;
		left: 0px;
		background: linear-gradient(180deg, #F4D8CD 0%, rgba(250, 250, 250, 0) 100%);
	}
	.wrapper{
		position: relative;
		@include styleGrid1;
	}

	.container-title{
		text-align: center;
		h2{
			@include styleH2;
			em{
				@include styleUnderline;
				&:after{
					content:url(../../img/common/underline/underline-2.svg);
				}
			}
		}
	}

	.container-articles{
		margin-top: 116px;
		.raw{
			
			&.hide {
				display: none;
			}
			
			display: flex;
			flex-flow: row wrap;
			
			@media screen and (min-width: $breakPoint_tablet){
				.col{
					//height: 700px;
					&:last-child{
						border-right: 1px solid transparent;
					}
				}
				&:nth-child(3n+1){
					.col{
						&:nth-child(1){
							width: calc(100% - (314px * 2));
							.article{
								
								&:nth-child(1){
									.cover{
										height: 300px;
									}
									h3{
										-webkit-line-clamp: 1;
									}
									p{
										-webkit-line-clamp: 1;
									}
								}
								&:nth-child(2){
									.cover{
										display: none;
									}
									h3{
										-webkit-line-clamp: 1;
									}
									p{
										-webkit-line-clamp: 1;
									}
								}
							}
						}
						&:nth-child(2){
							width: 314px;
							.article{
								&:nth-child(1){
									.cover{
										display: none;
									}
								}
							}
						}
						
						&:nth-child(3){
							width: 314px;
							.article{
								&:nth-child(2){
									.cover{
										display: none;
									}
								}
							}
						}
					}
				}
				&:nth-child(3n+2){
					.col{
						&:nth-child(1){
							width: 314px;
							.article{
								
								&:nth-child(1){
									.cover{
										display: none;
									}
								}
							}
						}
						&:nth-child(2){
							width: calc(100% - (314px * 2));
							.article{
								&:nth-child(1){
									.cover{
										height: 300px;
									}
									h3{
										-webkit-line-clamp: 1;
									}
									p{
										-webkit-line-clamp: 1;
									}
								}
								&:nth-child(2){
									.cover{
										display: none;
									}
									h3{
										-webkit-line-clamp: 1;
									}
									p{
										-webkit-line-clamp: 1;
									}
								}
							}
						}
						&:nth-child(3){
							width: 314px;
							.article{
								&:nth-child(1){
									.cover{
										display: none;
									}
								}
							}
						}
					}
				}
				&:nth-child(3n+3){
					.col{
						&:nth-child(1){
							width: 314px;
							.article{
								
								&:nth-child(2){
									.cover{
										display: none;
									}
								}
							}
						}
						
						&:nth-child(2){
							width: 314px;
							.article{
								&:nth-child(1){
									.cover{
										display: none;
									}
								}
							}
						}
						&:nth-child(3){
							width: calc(100% - (314px * 2));
							.article{
								&:nth-child(1){
									.cover{
										height: 300px;
									}
									h3{
										-webkit-line-clamp: 1;
									}
									p{
										-webkit-line-clamp: 1;
									}
								}
								&:nth-child(2){
									.cover{
										display: none;
									}
									h3{
										-webkit-line-clamp: 1;
									}
									p{
										-webkit-line-clamp: 1;
									}
								}
							}
						}
					}
				}
			}
			@media screen and (min-width: $breakPoint_mobile) and (max-width: $breakPoint_tablet){
				.col{
					padding-top: 0px;
					&:nth-child(2),
					&:nth-child(3){
						border-right: 1px solid transparent;
					}
				}
				.article{
					padding-top: 20px;
					padding-bottom: 20px;
				}
				&:nth-child(3n+1){
					.col{
						&:nth-child(1){
							width: 70%;
							.article{
								
								&:nth-child(1){
									.cover{
										height: 300px;
									}
									h3{
										-webkit-line-clamp: 1;
									}
									p{
										-webkit-line-clamp: 1;
									}
								}
								&:nth-child(2){
									.cover{
										display: none;
									}
									h3{
										-webkit-line-clamp: 1;
									}
									p{
										-webkit-line-clamp: 1;
									}
								}
							}
						}
						&:nth-child(2){
							width: 30%;
							.article{
								&:nth-child(1){
									.cover{
										display: none;
									}
								}
								
							}
						}
						
						&:nth-child(3){
							width: 100%;
							.article{
								&:nth-child(1){
									.cover{
										height: 300px;
									}
								}
								&:nth-child(2){
									.cover{
										display: none;
									}
								}
							}
						}
					}
				}
				&:nth-child(3n+2){
					.col{
						&:nth-child(1){
							width: 30%;
							.article{
								
								&:nth-child(1){
									.cover{
										display: none;
									}
								}
							}
						}
						&:nth-child(2){
							width: 70%;
							.article{
								&:nth-child(1){
									.cover{
										height: 300px;
									}
									h3{
										-webkit-line-clamp: 1;
									}
									p{
										-webkit-line-clamp: 1;
									}
								}
								&:nth-child(2){
									.cover{
										display: none;
									}
									h3{
										-webkit-line-clamp: 1;
									}
									p{
										-webkit-line-clamp: 1;
									}
								}
							}
						}
						&:nth-child(3){
							width: 100%;
							.article{
								&:nth-child(1){
									.cover{
										display: none;
									}
								}
								&:nth-child(2){
									.cover{
										height: 300px;
									}
								}
							}
						}
					}
				}
				&:nth-child(3n+3){
					.col{
						&:nth-child(1){
							width: 70%;
							.article{
								&:nth-child(1){
									.cover{
										height: 300px;
									}
								}
								&:nth-child(2){
									.cover{
										display: none;
									}
								}
							}
						}
						
						&:nth-child(2){
							width: 30%;
							
						}
						&:nth-child(3){
							width: 100%;
							.article{
								&:nth-child(1){
									.cover{
										height: 300px;
									}
									h3{
										-webkit-line-clamp: 1;
									}
									p{
										-webkit-line-clamp: 1;
									}
								}
								&:nth-child(2){
									.cover{
										display: none;
									}
									h3{
										-webkit-line-clamp: 1;
									}
									p{
										-webkit-line-clamp: 1;
									}
								}
							}
						}
					}
				}
			}
			@media screen and (max-width: $breakPoint_mobile){
				.col{
					border-right: 1px solid transparent;
				}
				.article{
					padding-left: 0px;
					padding-right: 0px;
				}
			}	
		}
		.col{
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			border-right: 1px solid rgba($colorMain_5, 0.1);
		}
		.article{
			display: block;
			width: 100%;
			text-decoration: none;
			padding: 20px;
			border-bottom: 1px solid rgba($colorMain_5, 0.1);
			
			.cover{
				display: block;
				width: 100%;
				object-fit: cover;
				border-radius: 16px;
				transition: all 0.35s ease;
				margin-bottom: 16px;
			}
			&:hover{
				.cover{
					opacity: 0.8;
				}
			}
			h3{
				
				@include styleH4;

				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				overflow: hidden;
			}
			p{
				margin-top: 8px;
				@include styleParagraphMedium;
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				overflow: hidden;
			}
			.author{
				margin-top: 20px;
				display: flex;
				flex-flow: row wrap;
				align-items: center;
				.pp{
					height: 30px;
					width: 30px;
					border-radius: 20px;
					overflow: hidden;
					img{
						height: 100%;
						width: 100%;
						object-fit: cover;
					}
				}
				.text{
					margin-left: 8px;
					flex: 1;
					.name{
						display: block;
						@include styleParagraphSmall;
						font-family: $font_1_bold;
						color: $colorMain_5;
					}
					.date{
						display: block;
						@include styleParagraphSmall;
					}
				}
			}
		}
	}

	.container-btn{

		&.hide {
			display: none;
		}

		margin-top: 63px;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;

		.btn{
			@include styleButton("medium", "2");
		}
	}
}

@media screen and (min-width: $breakPoint_mobile) and (max-width: $breakPoint_tablet){
	.section-blog{
		.container-articles{
			margin-top: 72px;
		}
	}
}

@media screen and (max-width: $breakPoint_mobile){
	.section-blog{
		.container-articles{
			margin-top: 48px;
		}
	}
}


/*====================================
=            END PAGE BLOG           =
====================================*/