@import 'common.scss';


/*===================================
=            PAGE LANDING           =
===================================*/


.section-cover{
	padding-top: 230px;
	.wrapper{
		@include styleGrid1;
		position: relative;
	}
	.container-illu{
		position: absolute;
		right: 450px;
		width: 900px;
		top: -30px;
	}
	.container-title{
		margin-left: auto;
		width: 408px;
		h1{
			span{
				&:nth-child(1){
					@include styleH1;
				}
				&:nth-child(2){
					z-index: 1;
					@include styleHx1;
					padding-left: 2px;
				}
			}
		}
		.container-input{
			margin-top: 40px;
			border: 1px solid $colorMain_9;
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			border-radius: 60px;
			input{

				border: none;
				padding-left: 20px;
				@include styleParagraphMedium;
				color: $colorMain_5;
				background-color: transparent;
				outline: none;
				&::placeholder{
					color: $colorMain_7;
				}
			}
			.btn{
				@include styleButton("medium", "1");
			}
		}
	}
}

.section-solutions{
	margin-top: 158px;
	.wrapper{
		@include styleGrid1;
	}
	.container-title{
		text-align: center;
		h2{
			@include styleH2;
			em{
				@include styleUnderline;
				&:after{
					content:url(../../img/common/underline/underline-1.svg);
				}
			}
		}
		p{
			margin-top: 6px;
			@include styleParagraphBig;
		}
	}
	.container-el{
		margin-top: 92px;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		.el{
			width: 345px;
			.illu{
				height: 280px;
				img{
					height: 100%;
				}
			}
			h3{
				@include styleH4;
			}
			p{
				margin-top: 16px;
				@include styleParagraphBig;
			}
		}
	}
	.container-btn{
		margin-top: 98px;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		.btn{
			@include styleButton("medium", "2");
		}
	}
}

.section-tarif{
	margin-top: 110px;
	background-color: $colorMain_2;
	padding: 180px 0px 180px 0px;
	position: relative;
	.wrapper{
		@include styleGrid1;
	}
	.illu{
		position: absolute;
		left: 0px;
		bottom: 0px;
	}
	.container-text{
		margin-left: auto;
		width: 490px;
		h2{
			@include styleH2;
			color: #FFF;
			em{
				@include styleUnderline;
				&:after{
					content:url(../../img/common/underline/underline-2.svg);
				}
			}
		}
		p{
			margin-top: 24px;
			@include styleParagraphBig;
			color: rgba(255, 255, 255, 0.7);
		}
		.btn{
			margin-top: 50px;
			@include styleButton("big", "1");
		}
	}
}


.section-fondateurs{
	padding: 90px 0px 90px 0px;
	.wrapper{
		@include styleGrid3;
		display: flex;
		flex-flow: row wrap;
		align-items: center;
	}
	.container-text{
		width: 282px;
		margin-right: 100px;
		h2{
			@include styleH2;
			em{
				@include styleUnderline;
				&:after{
					content:url(../../img/common/underline/underline-1.svg);
				}
			}
		}
		p{
			margin-top: 22px;
			@include styleParagraphBig;
		}
	}
	.container-fondateurs{
		flex: 1;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		.fondateur{
			&:nth-child(1){

			}
			&:nth-child(2){
				margin-top: 130px;
				margin-left: -30px;
				.text{
					text-align: right;
				}
			}
			&:nth-child(3){
				margin-top: -130px;
				margin-left: 60px;
			}
			.pp{
				height: 308px;
				width: 308px;
				position: relative;
				img{
					height: 100%;
					width: 100%;
					border-radius: 200px;
					object-fit: cover;
				}
				.name{
					position: absolute;
					bottom: 24px;
					left: 0px;
					width: 100%;
					text-align: center;
					font-family: $font_3_regular;
					font-size: 28px;
					line-height: 28px;
					color: $colorMain_11;
					z-index: 1;
				}
				&:after{
					content: '';
					position: absolute;
					bottom: 0px;
					left: 0px;
					width: 100%;
					height: 100%;
					border-radius: 200px;
					background: linear-gradient(0deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 60%);
				}
			}
			.text{
				margin-top: 18px;
				text-align: left;
				.name{
					@include styleParagraphMedium;
					font-family: $font_1_bold;
					color: $colorMain_5;
				}
				.job{
					@include styleParagraphSmall;
				}
			}
		}
	}
}

/*=======================================
=            END PAGE LANDING           =
=======================================*/